.item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: rgb(81, 83, 87) 1px 2px 6px 2px;
}
.status {
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  margin-right: 15px;
}

.name {
  font-size: 22px;
}
